@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.hero-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 0px 320px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px 80px;
}

#header-logo{
    font-size: 24px;
    margin: 0px;
}

#nav-links {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0px;
    
}

#nav-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

